<a href="https://colab.research.google.com/github/ocisse-jems/spark_bigdata/blob/main/projet_simul_velos_libre_service/1_PySpark_chargement_manipulation_dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Chargement et Manipulation d'un dataframe avec PySpark**

In [1]:
# install
!pip install pyspark --quiet
!pip install -U -q PyDrive --quiet 
!apt install openjdk-8-jdk-headless &> /dev/null

     |████████████████████████████████| 281.4 MB 35 kB/s
     |████████████████████████████████| 199 kB 46.7 MB/s
  Building wheel for pyspark (setup.py) ... done

In [2]:
# java env

import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

## **Lecture d'un fichier .csv**

In [4]:
path_csv = "ville_1.csv"
ville = spark.read.format("csv").option("header", "true").load(path_csv)

### 1ères lignes

In [6]:
ville.show(3, vertical=True)

-RECORD 0----------------------------------
 id                 | 5251
 vitesse_a_pied     | 0.02
 vitesse_a_velo     | 0.05
 home               | (lon:26.60 lat:28...
 travail            | (lon:21.08 lat:14...
 sportif            | False
 casseur            | False
 statut             | reserviste
 salaire            | 29800.610034665042
 sexe               | F
 age                | 18
 sportivite         | 0.1
 velo_perf_minimale | 0.4
-RECORD 1----------------------------------
 id                 | 5252
 vitesse_a_pied     | 0.14974625830876215
 vitesse_a_velo     | 0.37436564577190534
 home               | (lon:0.26 lat:42.61)
 travail            | (lon:36.35 lat:33...
 sportif            | False
 casseur            | False
 statut             | professeur
 salaire            | 23595.44383981423
 sexe               | F
 age                | 28
 sportivite         | 0.7487312915438107
 velo_perf_minimale | 0.4
-RECORD 2----------------------------------
 id                 | 5253
 vitesse_a_pied     | 0.6309711587089704
 vitesse_a_velo     | 1.6825897565572543
 home               | (lon:3.34 lat:13.95)
 travail            | (lon:24.75 lat:48...
 sportif            | False
 casseur            | False
 statut             | technicien_de_sur...
 salaire            | 18530.14776280135
 sexe               | H
 age                | 65
 sportivite         | 2.103237195696568
 velo_perf_minimale | 0.4
only showing top 3 rows

## **Manipulations de base**

### types des colonnes : **dtypes**

- types pouvant être précisés lors de la lecture
- sinon, colonnes lues par défaut en type **string**

In [7]:
ville.dtypes

[('id', 'string'),
 ('vitesse_a_pied', 'string'),
 ('vitesse_a_velo', 'string'),
 ('home', 'string'),
 ('travail', 'string'),
 ('sportif', 'string'),
 ('casseur', 'string'),
 ('statut', 'string'),
 ('salaire', 'string'),
 ('sexe', 'string'),
 ('age', 'string'),
 ('sportivite', 'string'),
 ('velo_perf_minimale', 'string')]

### nb de lignes : fontion **count**

In [8]:
ville.count()

1083

In [9]:
# nb distinct de lignes 
ville.distinct().count()

1083