<a href="https://colab.research.google.com/github/ocisse-jems/spark_bigdata/blob/main/1_PySpark_chargement_manipulation_dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Chargement et Manipulation d'un dataframe avec PySpark**

In [3]:
# install
!pip install pyspark --quiet
!pip install -U -q PyDrive --quiet 
!apt install openjdk-8-jdk-headless &> /dev/null

     |████████████████████████████████| 281.4 MB 50 kB/s
     |████████████████████████████████| 199 kB 58.8 MB/s
  Building wheel for pyspark (setup.py) ... done

In [11]:
# java env

import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"

In [12]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

## **Lecture d'un fichier .csv**

In [17]:
path_csv = "ville_1.csv"
ville = spark.read.format("csv").option("header", "true").load(path_csv)

### 1ères lignes

In [18]:
ville.show(3, vertical=False)

+----+-------------------+-------------------+--------------------+--------------------+-------+-------+--------------------+------------------+----+---+------------------+------------------+
|  id|     vitesse_a_pied|     vitesse_a_velo|                home|             travail|sportif|casseur|              statut|           salaire|sexe|age|        sportivite|velo_perf_minimale|
+----+-------------------+-------------------+--------------------+--------------------+-------+-------+--------------------+------------------+----+---+------------------+------------------+
|5251|               0.02|               0.05|(lon:26.60 lat:28...|(lon:21.08 lat:14...|  False|  False|          reserviste|29800.610034665042|   F| 18|               0.1|               0.4|
|5252|0.14974625830876215|0.37436564577190534|(lon:0.26 lat:42.61)|(lon:36.35 lat:33...|  False|  False|          professeur| 23595.44383981423|   F| 28|0.7487312915438107|               0.4|
|5253| 0.6309711587089704| 1.6825897565572543|(lon:3.34 lat:13.95)|(lon:24.75 lat:48...|  False|  False|technicien_de_sur...| 18530.14776280135|   H| 65| 2.103237195696568|               0.4|
+----+-------------------+-------------------+--------------------+--------------------+-------+-------+--------------------+------------------+----+---+------------------+------------------+
only showing top 3 rows